.button {
  background-color: rgb(207, 169, 43);
  border: 2px solid #000;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 2px 1px;
  width: 55px;
  height: 55px;
}
.result {
    background-color: #8d8d8d; 
    color: black;       
    min-height: 50px;    
    width: 214px;
    font-size: 24px;      
    border: 2px solid #333;
    display: block !important;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
}
.history {
    /* display: none; */
    display: block !important;
    white-space: pre-line;
    background-color: #ffffff; 
    color: black;     
    min-height: 20px;   
    width: 200px;
    font-size: 24px;  
    border: 2px solid #333;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    left: 250px;
    top:8px;
    position: absolute;
}

.row {
  height: 70px;
}
#redbutton {
  background-color: rgb(207, 43, 43);
  border: 2px solid #000;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 2px 1px;
  width: 55px;
  height: 55px;
}
#bluebutton {
  background-color: rgb(23, 154, 214);
  border: 2px solid #000;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 2px 1px;
  width: 55px;
  height: 55px;
}
#greenbutton {
  background-color: rgb(43, 207, 43);
  border: 2px solid #000;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 2px 1px;
  width: 55px;
  height: 55px;
}